Checks: '*, -altera*, -android*, -boost*, -darwin*, -fuchsia*, -llvm*, -mpi*, -objc*, -zircon, -*-use-trailing-return-type, -*-no-recursion, -*-avoid-do-while, -*-implicit-bool-conversion ,-*-magic-numbers, -*-identifier-length'
CheckOptions:
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true